.FlexNum{
  display: flex;
}
.Dask{
  width: 40%;
  background: #024a39;
  padding-bottom: 30px;
  border: 27px solid #ccc;
  border-radius: 20px;
}
.Button{
  margin-left: 3.9em;
  margin-top: 1em;
  padding: 20px;
  border: 3px solid #0502b7;
  background: #0008ff;
  border-radius: 21px;
  font-size: 33px;
  font-weight: bold;
  color: #fff
}